# Database Configuration
DB_HOST=                # The host and port of the database server
DB_NAME=                # The name of the database
DB_USER=                # The username for the database
DB_PASSWORD=            # The password for the database (leave empty if not set)

# SMTP Configuration
SMTP_HOST=              # The SMTP server host
SMTP_PORT=              # The SMTP server port
SMTP_USERNAME=          # The username for the SMTP server (usually an email address)
SMTP_PASSWORD=          # The password for the SMTP server
